@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --cor0: #8C1B1B;
    --cor1: #000;
    --cor2: #FFFFFF;
    --cor3: #F2A30F;
    --cor4: #2e2e2e;
    --cor5: #F3F3F3;

    --font-titulo: 'Bebas Neue', sans-serif;
    --font-padrao: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-padrao);
} /* Resetar qualquer formatação padrão */

body {
    background-image: linear-gradient(var(--cor0), var(--cor4));
    background-position: center;
    background-attachment: fixed;
    /* overflow: hidden;  Remove rolagem */
}

/* HEADER */

header {
    width: 100%;
    height: 100px;
    background-color: var(--cor5);
    display: flex;
    
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

header .menu {
    position: static;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

header .menu li {
    display: inline-block;
}

header .menu a {
    font-weight: bolder;
    color: var(--cor4);
    padding: 8px 12px;
    border-radius: 3px;
}

header .menu a:hover {
    color: var(--cor5);
    background-color: var(--cor4);
    padding: 8px 12px;
    border-radius: 10px;
}

/* MAIN */

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.principal {
    color: var(--cor5);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.principal h1 {
    color: var(--cor5);
    font-size: 100px;
    font-family: var(--font-titulo);
}

.principal .link {
    color: var(--cor5);
    font-weight: bolder;
    padding: 10px 50px;
    display: inline-block;
    border: 1px solid var(--cor3);
    border-radius: 20px;
    transition: 200ms;
}

.principal .link:hover {
    background-color: var(--cor3);
    color: var(--cor4);
    font-weight: bolder;    
}

/* SOBRE */

.principal2 {
    background-color: #2e2e2e7c;
    color: var(--cor5);
    min-width: 300px;
    max-width: 900px;
    padding: 50px;
    align-items: center;
    justify-content: center;
}

.principal2 h2 {
    color: var(--cor3);
    font-family: var(--font-titulo);
    font-size: 3em;
    padding-top: 50px;
    text-align: center;
}

.principal2 p {
    font-family: var(--font-padrao);
    font-size: 20px;
    margin-bottom: 10px;
    width: auto;
    align-items: center;
    text-align: center;
}

.principal2 .container {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.principal2 img {
    padding: 15px;
    border-radius: 30px;
    width: 400px;
}

/* LOGIN - FORM */

.principal .login-title {
    font-size: 5em;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form label {
    display: flex;
    flex-direction: column;
}

main form label span {
    font-size: 1.1em;
    margin-top: 2rem;
}

main form input {
    background-color: var(--cor5);    
    width: 300px;
    height: 50px;
    padding: 5px;
    margin-top: 1rem;
    outline: none;
    color: var(--cor4);
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

.link-login {
    color: var(--cor5);
    font-weight: bolder;
    margin-top: 50px;
    padding: 10px 50px;
    display: inline-block;
    border: 1px solid var(--cor3);
    border-radius: 20px;
    transition: 200ms;
}

.link-login:hover {
    background-color: var(--cor3);
    color: var(--cor4);
    font-weight: bolder;    
}

.login-other {
    display: flex;
    margin-top: 30px;
    width: 400px;
    justify-content: space-around;
}

.login-other a {
    color: var(--cor5);
    font-family: var(--font-padrao);
    font-size: 1em;
    text-align: center;
    justify-content: space-around;
    padding: 5px;

}

@media only screen and (max-width: 764px) {
    .principal2 img {
        display: block;
        padding: 5px;
        width: 50%;
    }
}

@media only screen and (max-width: 415px) {
    .logo-lf {
        width: 10vw;
    }

    header .menu li {
        display: flex;
    }

    .principal .login-title {
        font-size: 3em;
    }
}